body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bf/Webb%27s_First_Deep_Field.jpg');
  background-size: cover;
  border: 2px solid #fff;
}
